
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --dark-bg: #13171C;
    --dark-bg2: #181E27;
    --dark-bg3: #1F2634;
    --red-cta: #EF4444;
    --orange-cta: #F58412;
    --text-color: #f0f0f0;
    --paragraph-color: #cdcaca;
    --link-color: #3282F6;
    --text-red-lowopacity: #ef44442d;
    --orange-red-gradienthor: linear-gradient(to left, var(--orange-cta), var(--red-cta));
    --orange-red-gradientvert: linear-gradient(to bottom, var(--orange-cta), var(--red-cta));
}

/* 

p {
    font-family: "Montserrat", sans-serif;
} */

body {
    overflow-x: hidden;
    max-width: 100vw;
    background-color: var(--dark-bg);
}

.container {
    max-width: 1563px;
    min-height: auto;
    margin: 0 auto;
    padding: 0 3rem;
    
}

/* ------------------------------------------HEROOOO SECTION ----------------------------------------------- */

.hero-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    position: relative;
    gap: 2em;
    /* margin-top: 0em; */
    min-height: 80vh;
    width: 100%;
}

.left-hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    height: 100%;
    animation: titleAnimation 2.5s forwards; 
    animation-delay: 2s; 
    opacity: 0;
}

.left-hero h1, p{
    color: var(--text-color);
}

.left-hero #umak{
    position: relative;
    font-size: 18px;
    color: var(--orange-cta)        ;
    padding-left: 50px;
}

.left-hero #umak::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 3px;
    background-color: var(--orange-cta);
}

.left-hero h1{
    width: 100%;
    font-size: 3rem;
}

.left-hero h1 span{
    background: linear-gradient(to bottom, var(--orange-cta), var(--red-cta));
    -webkit-background-clip: text;
    color: transparent;
}

.left-hero p{
    margin-top: .5em;
    font-size: 1.2rem;
    word-spacing: 3px;
    line-height: 35px;
}

.left-hero button {
    color: var(--dark-bg);
    font-size: 1.4em;
    padding: 8px 28px;
    border: none;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-top: 1.2em;
    background-color: var(--orange-cta);
    cursor: pointer;
    box-shadow: 5px 6px #000;
}

.right-hero {
    display: flex;
    align-items: center;
    justify-content: start;
    
}

.right-hero img{
    margin-right: 20px;
    width: 20rem;        
    animation: modernAnimation 3s;

    
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons .border-white {
    background-color: transparent;
    box-shadow: none;
    color: var(--text-color);
    border: 2px solid var(--paragraph-color);
    font-weight: 200;
}
.btn2{
    background-color: var(--orange-cta);
    box-shadow: none;
    color: var(--text-color);
    border: 2px solid white;
    font-weight: 200;
}

.right-torch {
    position: absolute;
    right: -380px;
    top: 200px;
    transform: rotate(-10deg);
    /* overflow: hidden !important; */
    
}

.right-torch img {
    height: 650px;
    opacity: 20%;
    overflow: hidden !important;
}
/* ========================Keyframes========================== */
@keyframes slide {
    from{
        transform: translateX(100%);
    }to{    
        transform: translateX(0);
        opacity: 1;
    }
} 

@keyframes modernAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%) scale(1) rotate(0deg);
    }

    50% {
        opacity: 1;
        transform: translateX(100%) scale(1.3) rotate(15deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1) rotate(0deg);
        
    }
}
@keyframes titleAnimation {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width: 1150px) {


    .right-torch {
        display: none;
    }

    .left-hero h1 {
        font-size: 3rem; /* Corrected font size unit */
    }

    .left-hero p {
        font-size: 1.2rem;
        text-shadow: 5px 5px #000;
    }

    .left-hero button {
        font-size: 1.2rem;
    }
}


@media (max-width: 1050px) {
    .container1 {
        height: 80vh;
    }

    .hero-page {
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .right-hero {
        order: -1;
    }

    .left-hero {
        width: 100%;
        height: 100%;
    }

    .right-hero img  {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
        z-index: -10;
    }

}



/* ------------------------------------------ EVENT HIGHTLIGHTSSS ----------------------------------------------- */

.event-highlights {
    margin-top: 30vh;
}


.event-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
}

.left-content {
    position: relative;
    /* flex-grow: 1; */
    width: 55vw;
}

.left-content .numTh{
    color: var(--text-red-lowopacity);
    font-size: 15em;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -300px;
}

.text-content {
    position: relative;

    justify-self: flex-end;
    margin-top: -10px;
    margin-left: 10vw;
    padding: 3vh 5vw 3vh 2vw;

}

.text-content::before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px; /* Thickness of the border */
  border-radius: 3px;
  background: var(--orange-red-gradientvert);

}

.text-content h1{
    font-size: 2.5em;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
}

.text-content p{
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    color: var(--paragraph-color);
}

.right-content {
    /* flex-grow: 1; */
    position: relative;
    width: 55vh; 
    height: 50vh; 
}

/* Base Styles */
.background-image, .foreground-image {
    width: 100%;
    position: absolute;
    border-radius: 25px;
    transition: filter 0.3s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.background-image {
    top: 0;
    right: 70px;
    z-index: 1; /* Default background layer */
}

.foreground-image {
    bottom: 0;
    left: 10px;
    z-index: 2; /* Default foreground layer */
}

/* Toggle Effect when checkbox is checked */
#toggle-image:checked ~ .background-image-wrapper .background-image {
    z-index: 2; /* Bring background image to the front */
    
}

#toggle-image:checked ~ .foreground-image-wrapper .foreground-image {
    z-index: 1; /* Send foreground image to the back */
    
}


@media (max-width: 1080px) {
    .event-container {
        flex-direction: column;
        margin-bottom: 10em;
    }

    .left-content {
       flex-grow: 1;
       width: 100%;
    }

    .left-content .numTh{
        color: var(--text-red-lowopacity);
        font-size: 10em;
        font-family: "Montserrat", sans-serif;
        position: absolute;
        top: -200px;
    }

    .text-content {
        position: relative;
    
        justify-self: flex-end;
        margin-left: 2vw;
        padding: 3vh 5vw 3vh 4vw;
    
    }

    .right-content {
        margin-top: 20px;
        width: 50vh; 
        height: 75vh; 
    }

    .background-image {
        top: 0;
        right: 0;
        z-index: 1; /* Default background layer */
    }
    
    .foreground-image {
        bottom: 0;
        left: 0;
        z-index: 2; /* Default foreground layer */
    }

    

}




/* ------------------------------------------SPONSORS SRCTIOOON ----------------------------------------------- */

/* .sponsors-container {
    margin-top: 10vh;

}
.sponsors-container p {
    font-size: 18pt;
    margin-bottom: 20px;
}

.sponsor-h1 {
    position: relative;

    display: inline-block;
    font-size: 3vw;
    color: var(--text-color);
    margin-bottom: 20px;
}

.sponsor-h1::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateX(90px);
    width: 80px;
    height: 8px;
    border-radius: 3px;
    background: var(--orange-red-gradienthor);
    
}



.sponsors-container .sponsor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;

}

.sponsors-container .sponsor .item{
    color: var(--paragraph-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-bg2);
    border-radius: 10px;
    height: 250px;
} */


/* ------------------------------------------CONTACT SECTION ----------------------------------------------- */
.contact-page {
}
.contact-page .umak-p {
    text-align: center;
    font-size: 1.2em;
    color: var(--orange-cta);
    line-height: 22px;
}


.contact-page h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 300;
    color: var(--text-color);
    text-shadow: 3px 3px #000;
}

.contact-page p {
    font-size: 1.4em;
}

/* ssss */
#get-in-touch {
    text-align: start;
    font-size: 2rem;
}

#leave-message {
    font-size: 2rem;
    margin-bottom: 12px;
}

#directly-contact-us {
    margin-bottom: 20px;
    font-size: 1.3em;
    color: var(--text-color);
}

#sub-p {
    margin: 5px 0;
}

/* Right side contact styling */

/* Contact card styling */
.contact-page .contact-card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    flex-direction: row;
    width: 60vw;
    margin: 5vh auto 10vw;
    background-color: var(--dark-bg3);
}


.right-side-contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 30px;
    width: 60%;
    padding: 2em 2em 2em 0;
}

/* Styling for paragraph text */
.right-side-contact p {
    color: var(--dark-bg3) !important;
}

/* Styling for textarea */
.right-side-contact #message {
    font-size: 1.4rem;
    padding-top: 10px;
    height: 150px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

/* Styling for input fields and textarea */
.right-side-contact input,
.right-side-contact textarea {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 15px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border: 1px solid rgb(104, 98, 78);
    border-radius: 5px;
    color: var(--paragraph-color);
    box-sizing: border-box;
}

/* Button styling */
.right-side-contact button {
    cursor: pointer;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    font-size: 1rem;
    padding: 12px;
    border: none;
    background-color: var(--red-cta);
    color: #fff;
    box-sizing: border-box;
}



.contact-page .contact-card .left-side-contact {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 2em 2em;
    border-right: 0.7px solid #494949;
    width: 40%;
    background-color: var(--dark-bg2);
    height: auto;
}

/* Responsive design adjustments */
@media (max-width: 1080px) {
 
   
    .contact-page .contact-card {
        width: 80vw;
        flex-direction: column;
    }

    .contact-page .right-side-contact {
        width: 100%;
        margin-left: 0;
        padding: 2em;
    }

    .contact-page .contact-card .left-side-contact {
        width: 100%;
    }


    #get-in-touch, #leave-message {
        font-size: 22ptpt;
    }
   
}